.wishlist {
    .title {
        font-size: 52px;
        margin-bottom: 10px;
        text-transform: capitalize;
        line-height: 1.214;
        letter-spacing: -1px;
        font-weight: 700;
        text-align: center;
    }
}