$primary:#FFC222;
$secondary:#00A149;
$font-gray:#999999;
$font-gray-dark:#808080;
$font-dark:#000;
$font-light:#fff;

$border-light:#fff;
$border-gray-light:#e5e5e5;
$border-gray-dark:#808080;

$background-light:#fff;
$background-primary:#FFC222;

$success:#69af00;
