@import "./colors.scss";
//layouts
@import "../layouts/BasicLayout/BasicLayout.scss";

//components
@import "../components/Header/Header.scss";
@import "../components/HeaderBlack/HeaderBlack.scss";
@import "../components/Modal/BasicModal/BasicModal.scss";
@import "../components/Auth/LoginForm/LoginForm.scss";
@import "../components/Account/ChangeNameForm/ChangeNameForm.scss";
@import "../components/Account/AddressForm/AddressForm.scss";
@import "../components/Account/ListAddress/ListAddress.scss";
@import "../components/ListProducts/ListProducts.scss";
@import "../components/Pagination/Pagination.scss";
@import "../components/Product/Product.scss";


//pages

@import "../pages/account.scss";
@import "../pages/index.scss";
@import "../pages/wishlist.scss";
