.basic-modal {
    &__header {
        background-color: $primary !important;
        height: inherit;
        display: flex !important;
        align-items: center;
        justify-content: space-between;

        span,
        svg {
            color: $font-light;
        }

        svg {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            font-size: 25px;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
}